<html>
<head>
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-balham.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<center>
<center></center><h2>Enter the Video Id to get the statistics</h2>
   <form type="get" action="{%url 'youtubeapp:vidstatsplot' %}" style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>

   </form>

</center>
<center><h3 style="padding-top:30px;"><u>Video Statistics<u></h3></center>
<div class="container" style="padding-right:50px;">
<div id="myGrid" style="height: 250px; width:900px;" class="ag-theme-balham"></div>
</div>

<script type="text/javascript" charset="utf-8">
 console.log("This is america");
    const columnDefs = [
        {headerName: "video_master", field: "video_master", sortable: true},
        {headerName: "total_views", field: "total_views", sortable: true,filter: true},
        {headerName: "time_stamp", field: "time_stamp", sortable: true,filter: true},
        {headerName:"like_count",field:"like_count",sortable:true},
        {headerName:"dislike_count",field:"dislike_count",sortable:true},
        {headerName:"comment_count",field:"comment_count",sortable:true},

    ];
    const gridOptions = {
        columnDefs: columnDefs,
        <!--enableSorting: true,-->
        <!--enableFilter: true-->
    };
    const eGridDiv = document.querySelector('#myGrid');
    new agGrid.Grid(eGridDiv, gridOptions);
    fetch('http://127.0.0.1:8000/youtube/api/VideoStatsViewSet/').then(function (response) {
        return response.json();
    }).then(function (data) {

        console.log(data[0]['video_master']['video_name']);

        gridOptions.api.setRowData(data);
    })
</script>

</body>


